In [1]:
# 1
k = int(input("k = "))
n = int(input("n = "))
for i in range(n):
    print(k, end=" ")

k = 3
n = 5
3 3 3 3 3

In [6]:
# 2
a = int(input("a = "))
b = int(input("b = "))
if a < b:
    for i in range(a, b+1):
        print(i)

a = 1
b = 5
1
2
3
4
5

In [5]:
# 3
a = int(input("a = "))
b = int(input("b = "))

for i in range(a+1, b):
    print(i)

a = 1
b = 5
2
3
4

In [7]:
# 4
a = float(input("narx = "))
for i in range(1,11):
    print(i, "kg konfet narxi", i*a, "sum")

narx = 500.5
1 kg konfet narxi 500.5 sum
2 kg konfet narxi 1001.0 sum
3 kg konfet narxi 1501.5 sum
4 kg konfet narxi 2002.0 sum
5 kg konfet narxi 2502.5 sum
6 kg konfet narxi 3003.0 sum
7 kg konfet narxi 3503.5 sum
8 kg konfet narxi 4004.0 sum
9 kg konfet narxi 4504.5 sum
10 kg konfet narxi 5005.0 sum

In [11]:
# 5
a = float(input("narx = "))
for i in range(1,11):
    print(i/10, "kg konfet narxi", i*a/10, "sum")

narx = 1000
0.1 kg konfet narxi 100.0 sum
0.2 kg konfet narxi 200.0 sum
0.3 kg konfet narxi 300.0 sum
0.4 kg konfet narxi 400.0 sum
0.5 kg konfet narxi 500.0 sum
0.6 kg konfet narxi 600.0 sum
0.7 kg konfet narxi 700.0 sum
0.8 kg konfet narxi 800.0 sum
0.9 kg konfet narxi 900.0 sum
1.0 kg konfet narxi 1000.0 sum

In [55]:
# 6 
a = float(input("narx = "))
for i in range(12,21,2):
    print(i/10, "kg konfet narxi", i*a/10, "sum")

narx = 5000
1.2 kg konfet narxi 6000.0 sum
1.4 kg konfet narxi 7000.0 sum
1.6 kg konfet narxi 8000.0 sum
1.8 kg konfet narxi 9000.0 sum
2.0 kg konfet narxi 10000.0 sum

In [13]:
# 7
a = int(input("a = "))
b = int(input("b = "))
Sum = 0
for i in range(a,b+1):
    Sum += i
print("Summa", Sum)

a = 1
b = 10
Summa 55

In [17]:
# 8
a = int(input("a = "))
b = int(input("b = "))
kopaytma = 1
for i in range(a,b+1):
    kopaytma *= i
print("Ko'paytma", kopaytma)

a = 1
b = 10
Ko'paytma 3628800

In [19]:
# 9
a = int(input("a = "))
b = int(input("b = "))
Sum = 0
for i in range(a,b+1):
    Sum += i**2
print("Summa", Sum)

a = 1
b = 10
Summa 385

In [22]:
# 10
n = int(input("n = "))
s = 0
for i in range(1, n+1):
    s += 1/i
print(s)

n = 2
1.5

In [23]:
# 11
n = int(input("n = "))
s = 0
for i in range(2*n):
    s += (n+i)**2
print(s)

n = 5
985

In [26]:
# 12
n = int(input("n = "))
s = 1
for i in range(11,n*10):
    s *= i/10
    
print(s)

n = 3
243655.25776399093

In [46]:
# 13
n = int(input("n = "))
s = 0
for i in range(11,(n+1)*10):
    s += (-1)**(i) * i/10
print(s)

n = 4
-3.0

In [37]:
# 14
n = int(input("n = "))
s = 0
for i in range(1, 2*n,2):
    s += i
print(s)

n = 10
100

In [39]:
# 15
n = int(input("n = "))
a = int(input("a = "))
s = 1
for i in range(n):
    s *= a
print(s)

n = 2
a = 2
4

In [40]:
# 16
n = int(input("n = "))
a = int(input("a = "))
for i in range(1, n+1):
    print(a**i, end=" ")

n = 10
a = 10
10 100 1000 10000 100000 1000000 10000000 100000000 1000000000 10000000000

In [41]:
# 17
n = int(input("n = "))
a = int(input("a = "))
s = 0
b = 1
for i in range( n+1):
    b *= a
    s +=b
    
print(s)

n = 4
a = 2
31

In [56]:
# 18
n = int(input("n = "))
a = int(input("a = "))
s = 0
for i in range(n+1):
    s += (-1)**i * a**i
      
print(s)

n = 3
a = 2
-5

In [58]:
# 19
n = int(input("n = "))
a = 1
for i in range(1, n+1):
    a *= i
print(a)

n = 5
120

In [61]:
# 20
n = int(input("n = "))
a = 1
s = 0
for i in range(1, n+1):
    a *= i
    s += a
print(s)

n = 5
1
2
6
24
120
153

In [1]:
# 21
n = int(input("n = "))
S = 1
P = 1
for i in range(1,n+1):
    P *= i
    S += 1/P
print(S)

n = 5
2.7166666666666663

In [2]:
# 22
n = int(input("n = "))
x = float(input("x = "))
p = 1
s = 1
for i in range(1,n+1):
    p *= i
    s += x**i/p
print(s)

n = 5
x = 5
91.41666666666667

In [19]:
# 23
n = int(input("n = "))
x = float(input("x = "))
p = 1
s = 0
j = 2
for i in range(1,2*n+2,2):
    p *= i
    s +=  (-1)**j * x**i / p
    p *= (i+1)
    j += 1
print(s)

n = 80
x = 0.4
0.38941834230865047

In [26]:
# 24
n = int(input("n = "))
x = float(input("x = "))
s = 1
p = 1
j = 1
for i in range(1,2*n + 1, 2):
    p *= i
    s += (-1)**j * x**i / p
    p *= (i+1)
    j += 1
print(s)

n = 30
x = 0.1
0.9001665833531718

In [31]:
# 25
n = int(input("n = "))
x = float(input("x = "))
s = 0
for i in range(1,n+1):
    s += (-1)**(i-1) * x**i / i
print(s)

n = 100
x = 9
-2.3881161399822807e+93

In [32]:
# 26
n = int(input("n = "))
x = float(input("x = "))
s = 0
j = 0
for i in range(1,2*n + 2,2):
    s += (-1)**j * x**i/i
    j += 1
print(s)

n = 100
x = 4
5.485070382644514e+118

In [68]:
# 27
n = int(input("n = "))
x = float(input("x = "))
s = x
a = 1
b = 1
j = 1
k = 1
for i in range(3,2*n+2,2):
    a *= (i - 2)
    b *= j 
    s += a * x**i / (b*i)
    j *= 2*k
    k += 1
    
print(s)

n = 2
x = 5
984.1666666666666

In [37]:
# 28
n = int(input("n = "))
x = float(input("x = "))
s = 1 + x/2
a = 3
b = 1
j = 1
k = 1
ishora= 1
for i in range(2,n+1):
    b *= 2*i
    s += ishora * a * x**i / b
    a *= k
    k += 2
    j += 1
    ishora *= -1
print(s)

n = 100
x = 0.1
1.0476176963403032

In [69]:
# 29
n = int(input("n = "))
a = float(input("a = "))
b = int(input("b = "))
if a>b:
    a += b
    b = a - b
    a = a - b
c = (b-a)/(n)
for i in range(1,n):
    a += c
    print(a)

n = 4
a = 2
b = 5
2.75
3.5
4.25

In [43]:
# 30
from math import sin

n = int(input("n = "))
a = float(input("a = "))
b = int(input("b = "))
if a>b:
    a += b
    b = a - b
    a = a - b
c = (b-a)/(n)
for i in range(1,n):
    a += c
    print(1-sin(a))

n = 5
a = 2
b = 12
1.7568024953079282
1.2794154981989259
0.010641753376618213
1.5440211108893698

In [71]:
# 31
n = int(input("n = "))
a = 2
for i in range(1,n+1):
    a = 2 + 1/a
    print(a)

n = 2
2.5
2.4

In [49]:
# 32
n = int(input("n = "))
a = 1
for i in range(1,n+1):
    a = (a + 1)/i
    print(a)

n = 10
2.0
1.5
0.8333333333333334
0.45833333333333337
0.2916666666666667
0.2152777777777778
0.1736111111111111
0.1467013888888889
0.12741126543209877
0.11274112654320986

In [55]:
# 33
n = int(input("n = "))
a = 1 
b = 1
for i in range(1, n+1, 2):
    a += b
    b += a
    print(a,b,sep='\n')

n = 10
2
3
5
8
13
21
34
55
89
144

In [56]:
# 34
n = int(input("n = "))
a = 1
b = 2
for i in range(1,n+1,2):
    a = (a + 2*b)/3
    b = (b + 2*a)/3
    print(a, b,sep="\n")

n = 10
1.6666666666666667
1.777777777777778
1.7407407407407407
1.7530864197530864
1.748971193415638
1.7503429355281208
1.749885688157293
1.750038103947569
1.7499872986841438
1.7500042337719524

In [72]:
# 35
n = int(input("n = "))
a = 1
b = 2
c = 3
for i in range(1,n+1,3):
    a = c + b - 2*a
    b = a + c - 2*b
    c = b + a - 2*c
    print(a,b,c,sep="\n")

n = 10
3
2
-1
-5
-10
-13
-13
-6
7
27
46
59

In [59]:
# 36
n = int(input("n = "))
k = int(input("k = "))
s = 0
for i in range(1,n+1):
    s += i**k
print(s)

n = 2
k = 5
33

In [61]:
# 37
n = int(input("n = "))
s = 0
for i in range(1,n+1):
    s += i**i
print(s)

n = 3
32

In [63]:
# 38
n = int(input("n = "))
s = 0
for i in range(1,n+1):
    s += i**(n-i+1)
print(s)

n = 3
8

In [67]:
# 39
a = int(input("a = "))
b = int(input("b = "))
for i in range(a,b+1):
    for j in range(i):
        print(i)

a = 7
b = 9
7
7
7
7
7
7
7
8
8
8
8
8
8
8
8
9
9
9
9
9
9
9
9
9

In [66]:
# 40
a = int(input("a = "))
b = int(input("b = "))
k = 1
for i in range(a, b+1):
    for j in range(k):
        print(i)
    k += 1

a = 3
b = 5
3
4
4
5
5
5

# for ga qo'shimcha

In [1]:
# 1
n = int(input("n = "))
s = 0
for i in range(1,n+1):
    s+=i
print(s)

n = 5
15

In [11]:
# 3
n = int(input('n = '))
tub = False
a = int(n**0.5+1)
for i in range(2,a):
    
    if n % i != 0:        
        tub = True
    else:
        tub = False
        break
        
if n == 2 or n == 3:
    tub = True
    
if tub:
    print("tub")
else:
    print("tub emas")

n = 9
tub emas

In [13]:
# 4
n = int(input('n = '))

s = 0
for i in range(1,n+1):
    tub = False
    k = int(i**0.5+1)
    
    for j in range(2,k):
        
        if i % j != 0:
            tub = True
            
        else:
            tub = False
            break
            
    if i == 2 or i==3:
        tub = True
    if tub:
        print(i, end=" ")
        s += 1
print('\n', s, "ta tub son bor")

n = 100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
 25 ta tub son bor

In [16]:
n = int(input("n = "))

k = 0
for i in range(1,n+1):
    s = 0
    for j in range(1, i+1):
        if i % j == 0:
            s+=1
    if s == 2:
        k += 1
        print(i, end=' ')
        
print('\n',k, "ta tub son bor")

n = 100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
 25 ta tub son bor

In [15]:
# 5
n = int(input("n = "))
s = 1
for i in range(1,n+1):
    s *= i
print(s)

n = 5
120

In [21]:
# 6
n = int(input("n = "))

for i in range(n, 1, -1):
    
    tub = False
    k = int(i**0.5+1)
    
    for j in range(2, k):
        
        if i % j != 0:
            tub = True
        else:
            break
            
    if tub:
        print(i)
        break

n = 50
49

In [44]:
# 7
a = int(input('a = '))
b = int(input('b = '))

for i in range(1,a+1):
    if a%i==0 and b % i==0:
        print(i,end=" ")

a = 120
b = 240
1 2 3 4 5 6 8 10 12 15 20 24 30 40 60 120

In [3]:
#8 
n = int(input('n = '))
s = 0
for i in range(n):
    s += n % 10
    n //=10
    if  n < 1:
        break
print(s)

n = 12
3

In [1]:
# 9
n = int(input('n = '))
s = 0
for i in range(1,n+1):
    for j in range(i+1):
        s += j
print(s)

n = 3
10

In [2]:
# 9 2 usul
n = int(input("n = "))

s = 0
p = 0

for i in range(1, n+1):
    p += i
    s += p
print(s)

n = 5
35

In [45]:
n = int(input('n = '))
for i in range(n):
    a = float(input('a = '))
    if i==0:
        b = a
    if b < a:
        b = a
print(b)

n = 3
a = 1
a = 2
a = 3
3.0

In [1]:
# 11
n = int(input('n = '))
for i in range(3,n+1):
    for j in range(2,i):
        if i % j == 0:
            print(i, end=" ")
            break

n = 5
4

In [7]:
# 12
n = int(input('n = '))
for i in range(n):
    for j in range(n):
        print("#", end=" ")
    print()

n = 4
# # # #
# # # #
# # # #
# # # #

In [20]:
# 13
n = int(input('n = '))
for i in range(1,n+1):
    
    for j in range(1,11):
        print(i,"x",j ,"=", i*j, end="\t", sep="")
        
    print()

n = 5
1x1=1	1x2=2	1x3=3	1x4=4	1x5=5	1x6=6	1x7=7	1x8=8	1x9=9	1x10=10
2x1=2	2x2=4	2x3=6	2x4=8	2x5=10	2x6=12	2x7=14	2x8=16	2x9=18	2x10=20
3x1=3	3x2=6	3x3=9	3x4=12	3x5=15	3x6=18	3x7=21	3x8=24	3x9=27	3x10=30
4x1=4	4x2=8	4x3=12	4x4=16	4x5=20	4x6=24	4x7=28	4x8=32	4x9=36	4x10=40
5x1=5	5x2=10	5x3=15	5x4=20	5x5=25	5x6=30	5x7=35	5x8=40	5x9=45	5x10=50

In [13]:
# 14
n = int(input('n = '))
s = 0
for i in range(1,2*n + 1,2):
    print(i, end=" ")
    s += i
print("\nYig'indisi: ",s)

n = 10
1 3 5 7 9 11 13 15 17 19
Yig'indisi:  100

In [14]:
# 15
n = int(input('n = '))
s = 0
for i in range(2,2*n + 1,2):
    print(i, end=" ")
    s += i
print("\nYig'indisi: ",s)

n = 5
2 4 6 8 10
Yig'indisi:  30

In [21]:
# 16
n = int(input('n = '))
s = 0
a = 0

for i in range(n):
    a = a * 10 + 1
    print(a, end=" ")
    s += a

print("\nYig'indisi: ",s)

n = 3
1 11 111
Yig'indisi:  123

In [22]:
# 17
n = int(input('n = '))
a1 = 0
a2 = 1
print(a1,a2,sep=" ", end=' ' )
for i in range(0,n,2):
    a1+=a2
    a2+=a1
    print(a1,a2,sep=" ", end=' ' )

n = 5
0 1 1 2 3 5 8 13

In [39]:
# 18
n = int(input('n = '))
s = 0
for i in range(2,n,1):
    tub = False
    a = n - i
    k = int(i**0.5+1)
    
    for j in range(2,k):
        if i%j != 0:
            tub = True
        else:
            tub = False
            break
    
    if tub:
        k = int(a**0.5+1)
        for j in range(2,k):
            if a % j != 0:
                tub = True
            else:
                tub = False
                break
    
    if tub:
        print(i, a, sep=" ")
        break

n = 26
7 19

In [44]:
# 19
n = int(input('n = '))
for i in range(1,n+1,1):
    for j in range(i):
        print("*", end=" ")
    print()

n = 5
*
* *
* * *
* * * *
* * * * *

In [49]:
# 20
n = int(input('n = '))
for i in range(1,n+1,1):
    for j in range(1,i+1):
        print(j, end=" ")
        
    print()

n = 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [50]:
# 21
n = int(input('n = '))
for i in range(1,n+1,1):
    for j in range(1,i+1):
        print(i, end=" ")
        
    print()

n = 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [23]:
# 22
n = int(input('n = '))
a = 1
for i in range(1, n+1):
    for j in range(n-i):
        print(" ", end="")
    for j in range(i):
        print(a, end=" ")
        a += 1
    print()

n = 5
    1
   2 3
  4 5 6
 7 8 9 10
11 12 13 14 15

In [82]:
# 23
n = int(input('n = '))
a = 1

for i in range(1, n+1):
    
    for j in range(n - i):
        print(' ', end='')
        
    for j in range(i):
        print(a, end=" ")
        a += 1
        
    print()

n = 4
   1
  2 3
 4 5 6
7 8 9 10

In [84]:
# 24
n = int(input('n = '))


for i in range(1, n+1):
    
    for j in range(n - i):
        print(' ', end='')
        
    for j in range(i):
        print("*", end=" ")
        
        
    print()

n = 5
    *
   * *
  * * *
 * * * *
* * * * *

In [86]:
# 25
n = int(input('n = '))

for i in range(1, n+1):
    
    for j in range(n - i):
        print(' ', end='')
        
    for j in range(i):
        print(i, end=" ")        
        
    print()

n = 5
    1
   22
  333
 4444
55555

In [90]:
# 26
n = int(input('n = '))

for i in range(1, n+1):
    
    for j in range(n - i):
        print(' ', end='')
        
    for j in range(i):
        print("*", end="")
        
    for j in range(i-1):
        print("*", end='')
    print()

n = 5
    *
   ***
  *****
 *******
*********

In [2]:
# 27
n = int(input('n = '))
for i in range(1,n+1):
    for j in range(i):
        print((i+j)%2, end="")
    print()

n = 5
1
01
101
0101
10101

In [93]:
# 28
n = int(input('n = '))

for i in range(1, n+1):
    
    for j in range(n - i):
        print(' ', end='')
        
    for j in range(i):
        print("*", end="")
        
    for j in range(i-1):
        print("*", end='')
    print()
        
for i in range(n-1, 0, -1):
    
    for j in range(n - i):
        print(' ', end='')
        
    for j in range(i):
        print("*", end="")
        
    for j in range(i-1):
        print("*", end='')
    print()

n = 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [17]:
# 29
from math  import factorial as fac
n = int(input('n = '))
for i in range(n): 
    for j in range(n - i + 1):
        print(end=' ')
    for j in range(i+1):
        print(fac(i)// (fac(j)*fac(i-j)) , end=' ')
    print()

n = 6
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1

In [44]:
# 30
n = int(input('n = '))
a = 1
for i in range(1, n+1):
    for j in range(n-i):
        print(" ", end="")
    k = 0
    for j in range(i):
        print(a+k , end="")
        k+=1
    b = a+k-2
    if i >= 2:
        for j in range(i-1):
            print(b, end="")
            b -=1
        
    print()

n = 5
    1
   121
  12321
 1234321
123454321

In [24]:
# 31

n = int(input('n = '))
for i in range(1,n+1):
    for j in range(n-i):
        print(" ", end="")
    k = 1
    a = 1
    for j in range(k):
        print(i, end="")
    if i>=2:
        a += i
        for j in range(i-1):
            print(a, end="")
            a+=1
        a -=1
        for j in range(i-1):
            print(a-1, end='')
            a-=1       
           
    k += 2
    print()

n = 5
    1
   232
  34543
 4567654
567898765

In [1]:
# 32
n = int(input("n = "))
a = -n
for i in range(n):
    for j in range(i,0,-1):
        print(j, end=" ")
    for j in range(0,n-i):
        print(j,end=" ")
    print()

n = 5
0 1 2 3 4
1 0 1 2 3
2 1 0 1 2
3 2 1 0 1
4 3 2 1 0

In [4]:
# 33

n = int(input("10 lik sanoq sistemasida son kiriting : "))
son = 0
a = n
for i in range(n):
    
    a,b=divmod(a,2)
    son = son + b * 10**i

    if a < 1:
        break
        
print("2 lik sanoq sistemasida", son)

10 lik sanoq sistemasida son kiriting : 35
2 lik sanoq sistemasida 100011

In [3]:
# 34

n = int(input("10 lik sanoq sistemasida son kiriting : "))
son = 0
a = n
for i in range(n):
    
    a,b=divmod(a,8)
    son = son + b * 10**i
    
    if a < 1:
        break
        
print("8 lik sanoq sistemasida : ", son)

10 lik sanoq sistemasida son kiriting : 35
8 lik sanoq sistemasida :  43

In [18]:
# 35
n = int(input('2 lik sanoq sistemasida son kiriting : '))
a = n
son = 0
for i in range(n):
    son = son + (a%10)*2**i
    
    a //= 10
    if a<1:
        break
print("10 lik sanoq sistemasida : ", son)

2 lik sanoq sistemasida son kiriting : 100011
10 lik sanoq sistemasida :  35